* {
    font-family: 'Dongle', sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 0;

}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: black;
    color: whitesmoke;
    border-radius: 2px;
    padding: 4px;
}
.footer-list-item > a {
    color: whitesmoke;
}
.logo-container {
    margin: 10px 0;
    font-size: 30px;
    flex: 1;
}
.logo-container > h2 {
    margin: 10px;
}
.logo-container > h2 > .fa-seedling {
    margin-left: 5px;
}
.navbar {
    display: flex;
    align-items: end;
}
.navbar > ul {
    list-style: none;
    display: flex;
}
.navbar > ul > li {
    justify-content: space-evenly;
    margin: 10px;
    font-size: 25px;
}
@media screen and (min-width: 1024px) {
    .logo-container {
        display: flex;
    }
    .logo-container > h2 {
        font-size: 30px;
    }
    .logo-container > h2 > .fa-seedling {
        font-size: 25px;
    }
    .navbar > ul > li {
        font-size: 25px;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .logo-container {
        display: flex;
    }
    .logo-container > h2 {
        font-size: 25px;
    }
    .logo-container > h2 > .fa-seedling {
        font-size: 20px;
    }
    .navbar > ul > li {
        font-size: 15px;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    body {
        position: absolute;
        margin: 0;
        height: 100vh;
        padding: 0;
        width: 100%;
    }
    .logo-container {
        display: flex;
    }
    .logo-container > h2 {
        font-size: 20px;
    }
    .logo-container > h2 > .fa-seedling {
        font-size: 18px;
    }
    .navbar > ul > li {
        font-size: 18px;
    }
    .plant-section {
        padding:1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 0px;
        font-size: 10px;
    }
    #plant-section-2 {
        background-color: black;
        color: whitesmoke;
        width: 100%;
    }
    #plant-section-4 {
        background-color: black;
        color: whitesmoke;
        width: 100%;
    }
    .plant-image {
        display: block;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .plant-title {
        margin-left: 20px;
    }
    .plant-description {
        padding: 5px;
    }
    .plant-description > p {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-section {
        background-color: black;
        color: whitesmoke;
        padding: 15px;
        margin: 0px;
    }
    .footer-list {
        list-style: none;
        font-size: 20px;
    }
}
.plant-section {
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
}
#plant-section-2 {
    background-color: black;
    color: whitesmoke;
}
#plant-section-4 {
    background-color: black;
    color: whitesmoke;
}
.plant-image {
    display: block;
    width: 50%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.plant-title {
    margin-left: 20px;
}
.plant-description {
    padding: 10px;
}
.plant-description > p {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.footer-section {
    background-color: black;
    color: whitesmoke;
    padding: 25px;
    margin: 0px;
}
.footer-list {
    list-style: none;
    font-size: 20px;
}